<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="namingservice" type="NamingService.NamingServiceConfig, NamingService" />
  </configSections>
  <namingservice debug="true" address="net.tcp://${NamingServiceServiceHost}:${NamingServiceServicePort}/NamingService">
    <endpoints>
      <add name="BRE.AppSrv.Accounts.IB.IAccountsIBInternalContract" path="AccountsIBInternalContract" server="${AppsrvName}" port="${Accounts_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
      <add name="BRE.AppSrv.Accounts.IB.IAccountsIBExternalContract" path="AccountsIBExternalContract" server="${AppsrvName}" port="${Accounts_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
	  
	  <add name="BRE.AppSrv.mAssistant.InternalContract.ImAssistantInternalContract" path="mAssistantInternalContract" server="${AppsrvName}" port="${mAssistant_port}" binding="TCP" clientPoolSize="${External_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
      <add name="Bre.AppSrv.mAssistant.IB.InternalContract.ImAssistantIBInternalContract" path="mAssistantIBInternalContract" server="${AppsrvName}" port="${mAssistant_port}" binding="TCP" clientPoolSize="${External_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
	  
      <add name="BRE.AppSrv.AddressBook.AFT.Contracts.IAddressBookAFTInternalContract" path="AddressBookAFTInternalContract" server="${AppsrvName}" port="${AddressBook_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
      <add name="BRE.AppSrv.AddressBook.IB.Contracts.IAddressBookIBInternalContract" path="AddressBookIBInternalContract" server="${AppsrvName}" port="${AddressBook_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
      <add name="BRE.AppSrv.AddressBook.IB.Contracts.IAddressBookIBExternalContract" path="AddressBookIBExternalContract" server="${AppsrvName}" port="${AddressBook_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
     
      <add name="BRE.AppSrv.Payments.ExternalContract.IPaymentsExternalContract" path="PaymentsExternalContract" server="${AppsrvName}" port="${Payments_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
      <add name="BRE.AppSrv.Payments.IB.IPaymentsIBInternalContract" path="PaymentsIBInternalContract" server="${AppsrvName}" port="${Payments_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
      <add name="BRE.AppSrv.Payments.IB.IPaymentsIBExternalContract" path="PaymentsIBExternalContract" server="${AppsrvName}" port="${Payments_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
      <add name="BRE.AppSrv.mTransfer.IB.IMTransferIBInternalContract" path="MTransferIBInternalContract" server="${AppsrvName}" port="${MTransfer_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
	     
      <add name="BRE.AppSrv.Operations.IB.Contracts.IOperationsIBInternalContract" path="OperationsIBInternalContract" server="${AppsrvName}" port="${Operations_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
      <add name="BRE.AppSrv.Operations.IB.Contracts.IOperationsIBExternalContract" path="OperationsIBExternalContract" server="${AppsrvName}" port="${Operations_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
    
      <add name="BRE.AppSrv.Savings.IB.ISavingsIBInternalContract" path="SavingsIBInternalContract" server="${AppsrvName}" port="${Savings_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
      <add name="BRE.AppSrv.Savings.IB.ISavingsIBExternalContract" path="SavingsIBExternalContract" server="${AppsrvName}" port="${Savings_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
      <add name="Savings.XmlPrintouts.ISavingsXmlPrintoutsInternalContract" path="SavingsXmlPrintoutsInternalContract" server="${AppsrvName}" port="${Savings_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
	  
      <add name="BRE.AppSrv.Shop.IB.IShopIBInternalContract" path="ShopIBInternalContract" server="${AppsrvName}" port="${Shop_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
      <add name="BRE.AppSrv.Shop.IB.Contract.IShopIBExternalContract" path="ShopIBExternalContract" server="${AppsrvName}" port="${Shop_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>

      <add name="Bre.AppSrv.Core.Contract.ICoreInternal" path="CoreInternal" server="${AppsrvName}" port="${Core_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
	  <add name="Bre.AppSrv.Core.Contract.ICSBExternalContract" path="CSBExternalContract" server="${AppsrvName}" port="${Core_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
      <add name="Bre.AppSrv.Core.IB.ICoreIBExternalContract" path="CoreIBExternalContract" server="${AppsrvName}" port="${Core_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
      <add name="Bre.AppSrv.Core.IB.ICoreIBInternalContract" path="CoreIBInternalContract" server="${AppsrvName}" port="${Core_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
	  <add name="Bre.AppSrv.Core.Contract.IQSTInternalContract" path="QSTInternalContract" server="${AppsrvName}" port="${Core_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
	  <add name="Bre.AppSrv.Core.Contract.IQGAInternalContract" path="QGAInternalContract" server="${AppsrvName}" port="${Core_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
	  <add name="Bre.AppSrv.Core.Contract.ISmsAuthInternalContract" path="SmsAuthInternalContract" server="${AppsrvName}" port="${Core_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
      
      <add name="BRE.AppSrv.HostHistory.IB.Contracts.IHostHistoryIBInternalContract" path="HostHistoryIBInternalContract" server="${AppsrvName}" port="${HostHistory_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
      <add name="BRE.AppSrv.HostHistory.IB.IHostHistoryIBExternalContract" path="HostHistoryIBExternalContract" server="${AppsrvName}" port="${HostHistory_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
      <add name="BRE.AppSrv.HostHistory.Contracts.IHostHistoryInternalContract" path="HostHistoryInternalContract" server="${AppsrvName}" port="${HostHistory_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
      <add name="BRE.AppSrv.HostHistory.Contracts.IHostHistoryExternalContract" path="HostHistoryExternalContract" server="${AppsrvName}" port="${HostHistory_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
      <add name="BRE.AppSrv.HostHistory.IB.Contracts.IHostHistoryIBExternalContract" path="HostHistoryIBExternalContract" server="${AppsrvName}" port="${HostHistory_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
	  
      <add name="Bre.AppSrv.Loans.IB.InternalContract.ILoansIBInternalContract" path="LoansIBInternalContract" server="${AppsrvName}" port="${Loans_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
	  <add name="Bre.AppSrv.Loans.IB.ExternalContract.ILoansIBExternalContract" path="LoansIBExternalContract" server="${AppsrvName}" port="${Loans_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
	  
      <!-- Settings -->
      <add name="BRE.AppSrv.Settings.IB.Contracts.ISettingsIBInternalContract" path="SettingsIBInternalContract" server="${AppsrvName}" port="${Settings_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
      <add name="BRE.AppSrv.Settings.IB.Contracts.ISettingsIBExternalContract" path="SettingsIBExternalContract" server="${AppsrvName}" port="${Settings_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>

      <!-- insurance -->
      <add name="Bre.Appsrv.Insurance.IB.InternalContract.IInsuranceIBInternalContract" path="InsuranceIBInternalContract" server="${AppsrvName}" port="${Insurance_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
      
	  <add name="BRE.AppSrv.Cards.IB.ICardsIBInternalContract" path="CardsIBInternalContract" server="${AppsrvName}" port="${Cards_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
	  <add name="BRE.AppSrv.Cards.IB.ICardsIBExternalContract" path="CardsIBExternalContract" server="${AppsrvName}" port="${Cards_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
	  
	<add name="BRE.AppSrv.Facebook.IB.Contracts.IFacebookIBInternalContract" path="FacebookIBInternalContract" server="${AppsrvName}" port="${Facebook_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
	<add name="BRE.AppSrv.Facebook.IB.Contracts.IFacebookIBExternalContract" path="FacebookIBExternalContract" server="${AppsrvName}" port="${Facebook_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
	
	<add name="Hub.ExternalContract.Wcf.St.IHubExternalContractSt" path="Hub.Server.St" server="${HubsrvName}" port="${HubServerPort}" binding="TCP" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
	
	<add name="BRE.AppSrv.Channels.IIBKDDServer" path="IBKDDServer" server="${KDDServer_Name}" port="${KDDServer_IBKDDServer_port}" binding="TCP_RELIABLE" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${KDDSrvServerThumbPrint}" clientThumbPrint="${KDDSrvClientThumbPrint}" description=""/>
	<add name="BRE.Appsrv.Contact.IB.IContactIBInternalContract" path="ContactIBInternalContract" server="${AppsrvName}" port="${Contact_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
    <add name="BRE.AppSrv.PFM.InternalContract.IPFMInternalService" path="PFMInternalService" server="${AppsrvName}" port="${PFM_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>      
	<add name="BRE.AppSrv.PFM.IB.ExternalContract.IPfmIBExternalContract" path="PfmIBExternalContract" server="${AppsrvName}" port="${PFM_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
		
	<add name="Bre.IB.InternalContract.IIB" path="IB" server="${AppsrvName}" port="${AFT_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
	<add name="Printouts.InternalContract.IPrintoutsCore" path="PrintoutsCore" server="${AppsrvName}" port="${Printout_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
	<add name="Printouts.InternalContract.IPastOperations" path="PastOperations" server="${AppsrvName}" port="${Printout_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
	  <add name="Bre.PE.ExternalContract.IXportPE" path="XportPE" server="${AppsrvName}" port="${Printout_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
      <add name="Bre.QG.ExternalContract.IXportQG" path="XportQG" server="${AppsrvName}" port="${Printout_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
      <add name="Bre.BG.ExternalContract.IXportBG" path="XportBG" server="${AppsrvName}" port="${Printout_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
      <add name="Bre.DI.ExternalContract.IXportDI" path="XportDI" server="${AppsrvName}" port="${Printout_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
      <add name="Bre.FC.ExternalContract.IXportFC" path="XportFC" server="${AppsrvName}" port="${Printout_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
      <add name="Bre.MA.ExternalContract.IXportMA" path="XportMA" server="${AppsrvName}" port="${Printout_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
      <add name="Bre.NC.ExternalContract.IXportNC" path="XportNC" server="${AppsrvName}" port="${Printout_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
      <add name="Bre.UG.ExternalContract.IXportUG" path="XportUG" server="${AppsrvName}" port="${Printout_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
	 
	<!-- GMF -->	 
      <add name="BRE.AppSrv.Gamification.IB.IGamificationIBInternalContract" path="GamificationIBInternalContract" server="${AppsrvName}" port="${GMF_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
      <add name="BRE.AppSrv.Gamification.IB.IGamificationIBExternalContract" path="GamificationIBExternalContract" server="${AppsrvName}" port="${GMF_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
      <add name="BRE.AppSrv.Gamification.MQ.IGamificationMQInternalContract" path="IGamificationMQInternalContract" server="${AppsrvName}" port="${GMF_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
      <add name="BRE.Appsrv.Gamification.InternalContract.IGamificationInternalContract" path="GamificationInternalContract" server="${AppsrvName}" port="${GMF_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
      <add name="BRE.AppSrv.Gamification.Admin.IGamificationAdminInternalContract" path="IGamificationAdminInternalContract" server="${AppsrvName}" port="${GMF_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
	  
	  <add name="Bre.AppSrv.Core.Contract.IUWExternalContract" path="UWExternalContract" server="${AppsrvName}" port="${Core_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
	  <add name="BRE.AppSrv.Shop.ExternalContract.IShopExternalContract" path="ShopExternalContract" server="${AppsrvName}" port="${Cards_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
      <add name="BRE.AppSrv.Channels.IMOTAPSIB" path="MOTAPSIB" server="${AppsrvName}" port="${MOTAPS_MOTAPSIB_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
	
      <add name="Bre.Appsrv.InvestmentFunds.IB.InternalContract.IInvestmentFundsIBInternalContract" path="InvestmentFundsIBInternalContract" server="${AppsrvName}" port="${Investment_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
      <add name="Bre.Appsrv.InvestmentFunds.IB.ExternalContract.IInvestmentFundsIBExternalContract" path="InvestmentFundsIBExternalContract" server="${AppsrvName}" port="${Investment_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
	  
	  <add name="Bre.AppSrv.mAssistant.IB.ExternalContract.ImAssistantIBExternalContract" path="mAssistantIBExternalContract" server="${AppsrvName}" port="${mAssistant_port}" binding="TCP" clientPoolSize="${Venezia_ClientPoolSize}" serverThumbPrint="${AppSrvServerThumbPrint}" clientThumbPrint="${AppSrvClientThumbPrint}" description=""/>
	
	</endpoints>
  </namingservice>

</configuration>
